<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   info.plist
   Memes

   Created by Volodymyr Babych on 13.12.2023.
   Copyright (c) 2023 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<dict>
    <!-- App Transport Security Settings -->
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    
    <!-- Privacy Descriptions -->
    <!-- Add keys like NSCameraUsageDescription here if needed -->

    <!-- Bundle Display Name and Identifier -->
    <key>CFBundleDisplayName</key>
    <string>YourAppName</string>
    <key>CFBundleIdentifier</key>
    <string>com.example.yourapp</string>

    <!-- Version and Build Settings -->
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
</dict>
</plist>
